<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Rate My Roommate</title>
    <link rel="stylesheet" href="/public/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <div class="main-content-wrapper">

        <nav class="main-nav">

            <a href="/" class="site-logo"><img src="/public/images/logo.png" alt="Rate My Roommates"></a>

            <a href="/search" class="nav-btn">Search by Name or Location</a>

            {{#if loggedIn}}

            <a href="/users/{{loggedIn.userID}}" class="nav-btn">Profile</a>
            <a href="/logout" class="nav-btn">Log Out</a>

            {{else}}

            <a href="/login" class="nav-btn">Log In</a>
            <a href="/signup" class="nav-btn">Sign Up</a>

            {{/if}}

        </nav>

        <div class="body">{{{body}}}</div>

        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        <script src="/public/js/main.js"></script>

        {{#if searchPage}}

        <script src="/public/js/search.js"></script>

        {{/if}}

    </div>

    <footer class="site-footer">
    &copy; Team Empty String, 2017
    </footer>
</body>
</html>
