<!-- copied from lecture 9 code views/calculator/static.handlebars-->

<div class="body">
  <h1>Find What You Are Looking For</h1>
  <button type="button">Find A New Roommate</button>
  <button type="button">Find A City</button>
  <button type="button">Rate A Previous Roommate</button>
</div>