<div class="body">
  <h1>Find What You Are Looking For</h1>
  <button type="button" onclick="window.location='/search';">Find A New Roommate</button>
  <button type="button" onclick="window.location='/search';">Find A City</button>
  <button type="button" onclick="window.location='/search';">Rate A Previous Roommate</button>
</div>