<h1 class="page-heading">Find What You're Looking For</h1>

<div class="btn-container">
    <a href="/search" class="hp-dark-btn dark-btn">Find A New Roommate</a>
    <a href="/search" class="hp-dark-btn dark-btn">Find A City</a>
    <a href="/search" class="hp-dark-btn dark-btn">Rate A Previous Roommate</a>
</div>
