<h1 class="page-heading">Edit Profile</h1>
<form class="form-horizontal page-form" method="post">
<div class="form-group">
  <label for="firstName">First Name: </label>
  <input id="firstName" class="form-control" type="text" name="firstName" />
    <br/>
</div>
<div class="form-group">
  <label for="lastName">Last Name: </label>
  <input id="lastName" class="form-control" type="text" name="lastName" />
    <br/>
</div>
<div class="form-group">
  <label for="email">Email: </label> <!--need to check if email is exist-->
  <input id="email" class="form-control" type="text" name="email" />
    <br/>
</div>
<div class="form-group">
  <label for="city">City: </label>
  <input id="city" class="form-control" type="text" name="city" />
    <br/>
</div>
<div class="form-group">
  <label for="state">State: </label>
  <input id="state" class="form-control" type="text" name="state" />
    <br/>
</div>
<div class="form-group">
  <label for="country">Country:</label>
  <input id="country" class="form-control" type="text" name="country" />
    <br/>
</div>
<div class="form-group">
  <label for="bio">Bio:</label>
  <input id="bio" class="form-control" type="text" name="bio" />
    <br/>
</div>
<div class="form-group">
  <input class="form-control" type="submit" value="Submit" />
</div>
</form>
