<h2> Rate {{user.firstName}} {{user.lastName}} </h2>

<label for="cleanlyRating">Cleanliness</label>
<input id = "cleanlyRating" type="range" min="0" max = "5" />

<label for="loudRating">Loudness</label>
<input id = "loudRating" type="range" min="0" max = "5" />

<label for="annoyingRating">Annoyingness</label>
<input id = "annoyingRating" type="range" min="0" max = "5" />

<label for="friendlyRating">Friendliness</label>
<input id = "friendlyRating" type="range" min="0" max = "5" />

<label for="considerateRating">Considerateness</label>
<input id = "considerateRating" type="range" min="0" max = "5" />

<input class="form-control" type="submit" value="Submit" method = "post" />