<div class="body search-page">

    <h1>Find What You're Looking For</h1>

    <div class="search-form-container">

        <form action="" id="name-search-form">

            <label for="search-name">Name:</label>
            <input type="text" id="name-search-name" name="search-name">

            <button type="submit">Search</button>

        </form>

        <p>Or</p>

        <form action="" id="location-search-form">

            <label for="search-city">City:</label>
            <input type="text" id="location-search-city" name="search-city">

            <label for="search-state">State:</label>
            <input type="text" id="location-search-state" name="search-state">

            <button type="submit">Search</button>

        </form>
    </div>

    <div class="search-results">

        <table id="search-results-table" class="hidden table">

            <thead class="table-head">

                <tr class="header-rows">
                    <th class="name-row">Name</th>
                    <th class="age-row">Age</th>
                    <th class="city-row">City</th>
                    <th class="state-row">State</th>
                    <th class="select-row">Select</th>
                </tr>
            </thead>

            <tbody class="table-body">

            </tbody>

        </table>

        <div class="no-search-results hidden">

            No users found.
        </div>
    </div>
</div>